<%= render partial: "form" %>
<!--<body class = "passenger-color">-->
<!--<h3>Please provide the following information to create a new Driver account.</h3>-->
<%#= form_with model: @driver do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>

  <%#= f.label :vin %>
  <%#= f.text_field :vin %>

  <%#= f.submit "Create New Driver" %>
<%# end %>
<!--<br>-->
<!--<hr />-->


