/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */

/* Header/logo Title */

body {
  margin: 0;
}

.header {
  padding: 10px;
  text-align: center;
  background: rebeccapurple;
  color: white;
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  padding: 10px;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}
/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#passengers {
  padding: 10px;
}

#drivers {
  padding: 10px;
}

#passengers-name {
  padding: 5px;
}

#drivers-name {
  padding: 5px;
}

ul {
  list-style: none;
}

h2 {
  padding: 25px;
}

.home-title {
  padding: 10px;
}

/*Change color on hover*/
.navbar a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: black;
}
/* Footer */
.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;
  height: 50px;
  background-color: #ccc;
  text-align: center;
  padding-top: 5px;
}

.footer-2 {
  width: 100%;
  bottom: 0;
  position: relative;
  left: 0;
  height: 50px;
  background-color: #ccc;
  text-align: center;
  padding-top: 30px;
}

/*table styling*/
thead:nth-child(odd) {
  background-color: black;
  padding: 40px;
}
tr:nth-child(even) {
  background-color: #c8a2c8;
}

.table-center {
  text-align: center;
}

table th,
table td {
  padding: 5px; /* Apply cell padding */
}

thead {
  color: white;
  padding: 15px;
}

table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 95%;
}

td {
  border: 1px solid #000;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}

td + td {
  width: auto;
}

.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  padding-top: 10px;
}

a {
  color: rebeccapurple;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.passenger-table {
  padding: 20px;
}

.show-text {
    padding: 10px;
}

.edit-trip-text {
  padding-top: 20px;
  padding: 20px;
  color: rebeccapurple;
}

.driver-heading {
  padding: 10px;
  font-weight: bold;
}

.passenger-heading {
  padding: 10px;
  font-weight: bold;
}

.a-primary {
  color: rgb(3, 87, 3);
}

.b-primary {
  color: rgb(243, 141, 9);
}

.c-primary {
  color: rgb(211, 4, 4);
}


