/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
  box-sizing: border-box;
 }

 *:before,
 *:after {
  box-sizing: border-box;
 }

html body {
  margin-bottom: 100px;
  font-family: 'Signika Negative', sans-serif;
  position: relative;
  margin: 0;
  height: 100%;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

.header {
  padding: 40px;
  text-align: center;
  background: rebeccapurple;
  color: white;
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  padding: 50px;
}
/* Style the top navigation bar */
.nav {
  overflow: hidden;
  background-color: #333;
  text-decoration: none;
  color: white;
}
/* Style the navigation bar links */
.nav a  {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.passenger-title a, .driver-title a {
  color: blue;
  padding: 3px;
}

.homepage-title, .passenger-title, .driver-title {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-top: 6%;
}

.driver-div {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.homepage-title-driver {
  padding-top: 3%;
}

#passenger-info-trip-list {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.driver-details {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-top: 5%;
}

 #passenger-information-list, #driver-information-list {
  padding-top: 5%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

#passenger-info-padding, #driver-info-padding {
  flex: 1 1 30%; /*grow | shrink | basis */
  padding: 5px;
}

#passenger-trip-info {
  padding-top: 5%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  padding: 25px;
}

/*Change color on hover*/
.nav a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: black;
}

/*table styling*/
thead:nth-child(odd) {
  background-color: black;
  padding: 40px;
}
tr:nth-child(even) {
  background-color: #c8a2c8;
}

.table-center {
  text-align: center;
}

table th,
table td {
  padding: 5px; /* Apply cell padding */
}

thead {
  color: white;
  padding: 15px;
}

table {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 95%;
}

td {
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 600;
  padding-left: 20px;
}

td + td {
  width: auto;
}

a {
  color: rebeccapurple;
  text-decoration: none;
}

a:hover a:link, a:visited, :active {
  text-decoration: none;
}

.passenger-table {
  padding: 20px;
}

.edit-trip-text {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-top: 15px;
  color: rebeccapurple;
}

.a-primary {
  color: rgb(3, 87, 3);
}

.b-primary {
  color: rgb(243, 141, 9);
}

.c-primary {
  color: rgb(211, 4, 4);
}

.title-blue {
  color: blue;
}

.title {
  color: green;
}

footer {
  position: absolute;
  background-color: #ccc;
  bottom: 0;
  width: 100%;
  padding: 10px;
 }

 #footer-text {
  color: rebeccapurple;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
	margin: 5px auto 10px auto;
 }

.pagy-center {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form-title {
  padding: 15px;
  padding-top: 40px;
}

.form-control {
  width: 20%;
}

@media only screen and (max-width: 500px) {
  .nav {
    padding: 0px;
  }
  
  .form-styling {
  padding-left: 15px;
  }
  
  .form-title {
  padding: 0px;
  padding-top: 40px;
  }
  
  .form-control {
    width: 55%;
  }
  
  .header h1 {
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
  }
  
  table {
  width: 97%;
  }
}